/*Reglas
Selectores
Declaraciones
Popiedades
valores*/
/*Selector de etiqueta header-section-article -nav*/
body{
    font-family:'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One',sans-serif ;
}
h1{
    font-size: 50px;
    line-height: 140%;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}



.link{
    color:white;
    text-decoration: none;
}
header{
    color: rgb(141, 85, 197);
}
.header
 {
    background: rgb(26, 26, 138);
    
}